<section class="le-shop">
    <div class="le-shop-controls">

        <div class="le-shop-controls-top-row">
            {% for cat in collections %}
                {% assign is_active = false %}
                {% if cat.id == collection.id %}
                  {% assign is_active = true %}
                {% elsif collection.parent %}
                  {% if cat.id == collection.parent.id %}
                    {% assign is_active = true %}
                  {% endif %}
                {% endif %}
                <a href="{{ cat.url }}" class="le-shop-controls-top-row__item{% if is_active %} le-shop-controls-top-row__item_active{% endif %}">
                  {{ cat.title }}
                </a>
            {% endfor %}
        </div>
        
        {% unless collection.handle == "all" %}
            {% for cat in collections %}
                {% if collection.id == cat.id or collection.parent.id == cat.id %}  
                    <div class="le-shop-controls-middle-row">
                        <a href="{{ cat.url }}" class="le-shop-controls-middle-row__item{% if collection.id == cat.id %} le-shop-controls-middle-row__item_active{% endif %}">
                            все
                        </a>
                        {% for subcat in cat.subcollections  %}
                            <a href="{{ subcat.url }}" class="le-shop-controls-middle-row__item{% if subcat.id == collection.id %} le-shop-controls-middle-row__item_active{% endif %}">
                                {{ subcat.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else  %}
            {% for cat in collections %}
                {% if forloop.first %}
                    <div class="le-shop-controls-middle-row">
                        <a href="{{ cat.url }}" class="le-shop-controls-middle-row__item{% if subcat.id == collection.id %} le-shop-controls-middle-row__item_active{% endif %}">
                            все
                        </a>
                        {% for subcat in cat.subcollections  %}
                            <a href="{{ subcat.url }}" class="le-shop-controls-middle-row__item{% if subcat.id == collection.id %} le-shop-controls-middle-row__item_active{% endif %}">
                                {{ subcat.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endunless %}

        <div class="le-shop-controls-bottom-row">
            <form method="get">
                <label class="le-shop-controls-bottom-row__item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <rect x="0.5" y="0.75" width="13" height="13" stroke="black" stroke-opacity="0.4"/>
                    </svg>
                    <span class="le-shop-controls-bottom-row__item-text">В НАЛИЧИИ</span>
                    <input onchange="this.form.submit()" type="checkbox" name="available" value="1" {% if params.available == '1' %}checked{% endif %}>
                </label>
                <label class="le-shop-controls-bottom-row__item">
                    <span class="le-shop-controls-bottom-row__item-text">ДОРОЖЕ</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                        <path d="M3.32809 14.3536C3.52335 14.5488 3.83993 14.5488 4.03519 14.3536L7.21717 11.1716C7.41244 10.9763 7.41244 10.6597 7.21717 10.4645C7.02191 10.2692 6.70533 10.2692 6.51007 10.4645L3.68164 13.2929L0.853214 10.4645C0.657951 10.2692 0.341369 10.2692 0.146107 10.4645C-0.0491555 10.6597 -0.0491555 10.9763 0.146107 11.1716L3.32809 14.3536ZM3.18164 0L3.18164 14H4.18164L4.18164 0L3.18164 0Z" fill="black" fill-opacity="0.4"/>
                    </svg>
                    <input type="radio" name="order" value="price" onchange="this.form.submit()">
                </label>
                <label class="le-shop-controls-bottom-row__item">
                    <span class="le-shop-controls-bottom-row__item-text">новинки</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="15" viewBox="0 0 8 15" fill="none">
                        <path d="M4.39994 0.146447C4.20468 -0.0488155 3.8881 -0.0488155 3.69283 0.146447L0.510853 3.32843C0.315591 3.52369 0.315591 3.84027 0.510853 4.03553C0.706115 4.2308 1.0227 4.2308 1.21796 4.03553L4.04639 1.20711L6.87481 4.03553C7.07008 4.2308 7.38666 4.2308 7.58192 4.03553C7.77718 3.84027 7.77718 3.52369 7.58192 3.32843L4.39994 0.146447ZM3.54639 0.5L3.54639 14.5H4.54639L4.54639 0.5L3.54639 0.5Z" fill="black" fill-opacity="0.4"/>
                    </svg>
                    <input type="radio" name="order" value="age" onchange="this.form.submit()">
                </label>
            </form>

            <form method="get" class="le-shop-controls-bottom-row__item le-shop-controls-bottom-row__item-search">
                <span class="le-shop-controls-bottom-row__item-text">поиск</span>
                <input type="search" name="q" value="{{ search.query }}" class="le-shop-controls-bottom-row__item-input">
            </form>
        </div>
    </div>

    <div class="le-shop-products">
        <div class="container">
            <div class="le-shop-products-inner">
                {%- for product in collection.products %}
                  {%- assign is_available = false %}
                  {%- for variant in product.variants %}
                    {%- if variant.available %}{% assign is_available = true %}{% break %}{% endif %}
                  {%- endfor %}
                  <a href="{{ product.url }}" class="le-shop-product{% if is_available %} le-shop-product_available{% endif %}">
                    <img src="{{ product.images.first.medium_url }}" alt="{{ product.title }}" class="le-shop-product__pic">
                    <div class="le-shop-product__title">{{ product.title }}</div>
                    <span class="le-shop-product__price">
                      {% if product.variants.size > 0 %}
                        {{ product.variants.first.price | money }}
                      {% endif %}
                    </span>
                    <button class="le-shop-product__icon-button" data-ui-favorites-trigger="{{ product.id }}">
                        <svg class="le-shop-product__icon" width="45" height="39" viewBox="0 0 45 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.4538 23.6587C42.476 20.454 44.7059 16.086 43.9761 10.6999C43.4895 7.12132 41.6651 4.05693 38.8372 2.07806C36.1309 0.182294 32.7962 -0.456555 29.6895 0.327722C25.9544 1.26782 23.3799 4.3426 22.2143 6.90318L22.0572 7.24598L21.9001 6.90318C20.7344 4.3426 18.1599 1.27301 14.4248 0.327722C13.5582 0.109579 12.6713 0.000507684 11.7844 0.000507684C9.50385 0.000507684 7.22834 0.71207 5.27718 2.07806C2.44926 4.05693 0.624797 7.12132 0.143341 10.6999C-0.591512 16.0808 1.63839 20.454 3.6605 23.6587C7.67432 30.0264 14.7492 35.1787 19.584 37.651C21.1044 38.4301 23.0201 38.4301 24.5253 37.651C29.3601 35.1787 36.435 30.0264 40.4538 23.6587ZM24.135 36.8252C23.4863 37.1576 22.7717 37.3238 22.0572 37.3238C21.3426 37.3238 20.6331 37.1576 19.9793 36.8252C15.2408 34.4048 8.32302 29.3667 4.40549 23.1549C2.46953 20.0853 0.330846 15.9094 1.02009 10.8298C1.47114 7.51087 3.15877 4.675 5.77383 2.84156C7.56789 1.58464 9.64068 0.92502 11.7743 0.92502C12.5953 0.92502 13.4112 1.0237 14.2069 1.22626C18.3626 2.27543 21.0841 6.38379 21.6163 8.83011C21.6619 9.03787 21.8443 9.18849 22.0521 9.18849C22.2599 9.18849 22.4423 9.03787 22.4879 8.83011C23.0201 6.38379 25.7416 2.27543 29.8973 1.22626C32.7607 0.504315 35.8369 1.09122 38.3304 2.84156C40.9454 4.66981 42.6331 7.50567 43.0841 10.8298C43.7733 15.9094 41.6397 20.0853 39.6987 23.1549C35.7812 29.3667 28.8584 34.3996 24.1249 36.8252H24.135Z" fill="black"/>
                        </svg>
                    </button>
                  </a>
                {%- endfor %}
            </div>
        </div>
    </div>
</section>


{% comment %}
{{ order }} order
{{ params.available }} is_available
{% if filter.title %}
    {{ filter.title }}
  {% else %}
    {{ collection.title }}
  {% endif %}

  {{ root.title }}
  {{ template }}
{% endcomment %}