{% assign img_desktop = widget_settings.image_desktop | default: 'no_image_medium.jpg' %}
{% assign img_mobile_raw = widget_settings.image_mobile %}
{% if img_mobile_raw %}
  {% assign img_mobile = widget_settings.image_mobile %}
{% else %}
  {% assign img_mobile = img_desktop %}
{% endif %}
{% assign alt = widget_settings.alt | default: '' %}
{% assign object_fit = widget_settings.object_fit | default: 'cover' %}
{% assign object_position = widget_settings.object_position | default: 'center center' %}

<section class="le-cover" style="--le-cover-object-fit: {{ object_fit }}; --le-cover-object-position: {{ object_position }};">
  <picture class="le-cover__picture">
    <source srcset="{{ img_mobile }}" media="(max-width: 720px)">
    <img class="le-cover__img" src="{{ img_desktop }}" alt="{{ alt }}" loading="eager" />
  </picture>
</section>


<style>
    .le-header {
        position: fixed !important;
        width: 100% !important;
    }

    {% if widget_settings.revert_header %}
        .le-header .le-header-nav-item {
            color: #fff !important;
        }

        .le-header-cross path{
            fill: #fff !important;
        }
    {% endif %}
</style>

